.tt-header-margin
#content-wrapper
  / TT-TOPHEADING
  .tt-topheading.background-block.breadcrumb-pages
    .container
      %h2.tt-topheading-title.c-h3 FAQ
      %ul.tt-breadcrumbs
        %li
          = link_to 'Inicio', root_url 
        %li
          %span faq
  .empty-space.marg-lg-b100.marg-sm-b50.marg-xs-b30
  .container
    / TT-TITLE
    .tt-title
      -# .tt-title-cat Muy Simple
      %h2.c-h2
        %small Preguntas frecuentes
    .empty-space.marg-lg-b40.marg-sm-b30
    .row
      .col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        / TT-ACCORDION
        .tt-accordion
          .tt-accordion-panel
            .tt-accordion-title.active
              ¿Cómo me entregan mi orden?
              .tt-accordion-icon
            .tt-accordion-body.active
              .simple-text.size-3
                %p
                  Todas las órdenes son entregadas vía email en un formato optimizado para ser usado cuanto antes en cualquiera de tus plataformas seleccionadas.
          .tt-accordion-panel
            .tt-accordion-title
              ¿Cuánto tiempo tardan en entregar mi orden?
              .tt-accordion-icon
            .tt-accordion-body
              .simple-text.size-3
                %p
                  Dependiendo el número de palabras que contenga tu orden, será el tiempo estimado que tardaremos en entregar un trabajo profesional. En esta tabla puedes encontrar los tiempos estimados dependiendo del número de palabras
    .empty-space.marg-lg-b150.marg-sm-b50.marg-xs-b30
