.tt-header-margin
#content-wrapper
  .container
    .empty-space.marg-lg-b50.marg-sm-b30
      .empty-space.marg-lg-b50.marg-sm-b30
      = image_tag "simple-image/simple_3.jpg", height: "400", width: "1246", class: "img-responsive"
      .empty-space.marg-lg-b45
      / TT-BLOG-TOP
      .row
        .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
          .tt-blog-top
            .tt-blog-cat Garantia
            %h2.tt-blog-title.c-h2 Entendemos el valor de tu inversión. 
      .empty-space.marg-lg-b25
      .row
        .col-lg-10.col-md-offset-1.col-lg-8.col-lg-offset-2
          .simple-text.style-2
            %h4 Date:
            %p 21.4.2016
            %h4 Client
            %p Marketlr  Allen Co.
            %h4 Summary
            %p Chatvertizing CPM SEO vertical-specific sticky content tweens proprietary. Drone taste makers organic reach tweens. Long-tail buzzword organic reach robust top influencers content curation. Wheelhouse low hanging fruit optimized for social sharing.
            = image_tag "simple-image/simple_4.jpg", height: "379", width: "819"
            %p Chatvertizing CPM SEO vertical-specific sticky content tweens proprietary. Drone taste makers organic reach tweens. Long-tail buzzword organic reach robust top influencers content curation. Wheelhouse low hanging fruit optimized for social sharing.
            .empty-space.marg-lg-b45.marg-sm-b30
            .row
              .col-sm-6
                = image_tag "simple-image/simple_5.jpg", height: "476", width: "391", class: "img-responsive"
              .col-sm-6
                .empty-space.marg-lg-b25
                .tt-service.type-3.clearfix
                  %a.tt-service-icon{:href => "single.html#"}
                    %span.lnr.lnr-pie-chart
                  .tt-service-info
                    %a.tt-service-title.c-h4 224% More ROI
                    .simple-text.size-3
                      %p Virality The Cloud content marketing thought leadership. Alignment platform phablet. CRM scalability mobile ready.
                .empty-space.marg-lg-b20
                .tt-service.type-3.clearfix
                  %a.tt-service-icon{:href => "single.html#"}
                    %span.lnr.lnr-earth
                  .tt-service-info
                    %a.tt-service-title.c-h4 Global Webinar Audience
                    .simple-text.size-3
                      %p Virality The Cloud content marketing thought leadership. Alignment platform phablet. CRM scalability mobile ready.
                .empty-space.marg-lg-b20
                .tt-service.type-3.clearfix
                  %a.tt-service-icon{:href => "single.html#"}
                    %span.lnr.lnr-users
                  .tt-service-info
                    %a.tt-service-title.c-h4 25K Subscribers
                    .simple-text.size-3
                      %p Virality The Cloud content marketing thought leadership. Alignment platform phablet. CRM scalability mobile ready.
              .empty-space.marg-lg-b50.marg-sm-b30
              = image_tag "simple-image/simple_6.jpg", height: "379", width: "819", class: "img-responsive"
              .empty-space.marg-lg-b40.marg-sm-b30
              .simple-text
                %p Chatvertizing CPM SEO vertical-specific sticky content tweens proprietary. Drone taste makers organic reach tweens. Long-tail buzzword organic reach robust top influencers content curation. Wheelhouse low hanging fruit optimized for social sharing. Chatvertizing CPM SEO vertical-specific sticky content tweens proprietary. Drone taste makers organic reach tweens. Long-tail buzzword organic reach robust top influencers content curation. Wheelhouse low hanging fruit optimized for social sharing. Chatvertizing CPM SEO vertical-specific sticky content tweens proprietary. Drone taste makers organic reach tweens. Long-tail buzzword organic reach robust top influencers content curation. Wheelhouse low hanging fruit optimized for social sharing.
          .empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
