.tt-tab-wrapper.type-1
  .tt-tab-nav-wrapper
    .tt-tab-select
      .select-arrow
        %i.fa.fa-angle-down
      %select
        %option{ :selected => "selected" } Analytics
        %option Add On
        %option Infographics
        %option Marketing Tools
        %option Copywriting
    .tt-nav-tab.mbottom50
      .tt-nav-tab-item.active
        %span.lnr.lnr-chart-bars
        %span.tt-analitics-text Analytics
      .tt-nav-tab-item
        %span.lnr.lnr-hand
        %span.tt-analitics-text Add On
      .tt-nav-tab-item
        %span.lnr.lnr-pie-chart
        %span.tt-analitics-text Infographics
      .tt-nav-tab-item
        %span.lnr.lnr-laptop-phone
        %span.tt-analitics-text Marketing Tools
      .tt-nav-tab-item
        %span.lnr.lnr-pencil
        %span.tt-analitics-text Marketing Tools
