.tt-title
  .tt-title-cat Storytelling
  %h2.c-h2
    %small Latest Blog Posts
.empty-space.marg-lg-b35.marg-sm-b30
/ tt-post
.row
  .col-sm-4
    .tt-post
      %a.tt-post-img.custom-hover
        %img.img-responsive{ :alt => "", :height => "230", :src => "assets/post/post_1.jpg", :width => "392" }/
      .tt-post-info
        %a.tt-post-title.c-h5{ :href => "index.html#" } Top 10 SEO Blogs in 2015
        .tt-post-cat by John Dean
        .simple-text.size-3
          %p Thought leadership iterative seed money lean content proprietary. Snackable content quiet period.
        %a.c-btn.type-4{ :href => "index.html#" } Read More
    .empty-space.marg-xs-b30
  .col-sm-4
    .tt-post
      %a.tt-post-img.custom-hover
        %img.img-responsive{ :alt => "", :height => "230", :src => "assets/post/post_2.jpg", :width => "392" }/
      .tt-post-info
        %a.tt-post-title.c-h5{ :href => "index.html#" } Here’s What We Learned About SEO
        .tt-post-cat by John Dean
        .simple-text.size-3
          %p Platform omnichannel click bait thought leadership pivot. Disrupt taste makers council conversions emerging.
        %a.c-btn.type-4{ :href => "index.html#" } Read More
    .empty-space.marg-xs-b30
  .col-sm-4
    .tt-post
      %a.tt-post-img.custom-hover
        %img.img-responsive{ :alt => "", :height => "230", :src => "assets/post/post_3.jpg", :width => "392" }/
      .tt-post-info
        %a.tt-post-title.c-h5{ :href => "index.html#" } Content Marketing Made Easy
        .tt-post-cat by John Dean
        .simple-text.size-3
          %p Virality The Cloud content marketing thought leadership. Alignment platform phablet. CRM scalability mobile ready.
        %a.c-btn.type-4{ :href => "index.html#" } Read More
