/ TT-BANNER
.tt-banner.background-block{ :style => "background-image:url('assets/tt-banner/bg.jpg');" }
  .container
    .empty-space.marg-lg-b120.marg-sm-b50.marg-xs-b30
    .tt-banner-img
      %img.img-responsive{ :alt => "", :src => "assets/tt-banner/tt-banner.png" }/
    .row
      .col-sm-7.col-sm-offset-5
        %h4.tt-banner-title.c-h2
          %small Exclusive SEO Backlinking Formula Marketing Giveaway (Worth $99)
        %a.c-btn.type-1.size-3{ :href => "index.html#" } Purchase Now
    .empty-space.marg-lg-b120.marg-sm-b50.marg-xs-b30
