.tt-devider
.container
  .empty-space.marg-lg-b95.marg-sm-b50
  .row
    .col-sm-10.col-sm-offset-1
      / TT-TITLE
      .tt-title
        .tt-title-cat Productos
        %h2.c-h2
          %small Contenido para tus redes sociales y mas.
      .empty-space.marg-lg-b35.marg-sm-b30
      / TT-SERVICE
      .row
        .col-sm-6
          .tt-service.color-2.clearfix
            %a.tt-service-icon{ :href => "index.html#" }
              %span.lnr.lnr-rocket
            .tt-service-info
              %a.tt-service-title.c-h4 Skyscrapper Technique
              .simple-text.size-3
                %p Content curation market share customer engagement buzz flat design vertical-specific.
          .empty-space.marg-xs-b30
        .col-sm-6
          .tt-service.color-2.clearfix
            %a.tt-service-icon{ :href => "index.html#" }
              %span.lnr.lnr-poop
            .tt-service-info
              %a.tt-service-title.c-h4 No Bullshit Formulas
              .simple-text.size-3
                %p Platform omnichannel click bait thought leadership pivot. Disrupt council conversions.
      .empty-space.marg-lg-b40.marg-sm-b30
      .row
        .col-sm-6
          .tt-service.color-2.clearfix
            %a.tt-service-icon{ :href => "index.html#" }
              %span.lnr.lnr-chart-bars
            .tt-service-info
              %a.tt-service-title.c-h4 Custom Analytics
              .simple-text.size-3
                %p Thought leadership iterative seed money lean content proprietary. Snackable content period.
          .empty-space.marg-xs-b30
        .col-sm-6
          .tt-service.color-2.clearfix
            %a.tt-service-icon{ :href => "index.html#" }
              %span.lnr.lnr-envelope
            .tt-service-info
              %a.tt-service-title.c-h4 Email List Building
              .simple-text.size-3
                %p Content curation market share customer engagement buzz flat design vertical-specific.
      .empty-space.marg-lg-b40.marg-sm-b30
      .row
        .col-sm-6
          .tt-service.color-2.clearfix
            %a.tt-service-icon{ :href => "index.html#" }
              %span.lnr.lnr-diamond
            .tt-service-info
              %a.tt-service-title.c-h4 High End Product
              .simple-text.size-3
                %p Platform omnichannel click bait thought leadership pivot. Disrupt taste conversions.
          .empty-space.marg-xs-b30
        .col-sm-6
          .tt-service.color-2.clearfix
            %a.tt-service-icon{ :href => "index.html#" }
              %span.lnr.lnr-thumbs-up
            .tt-service-info
              %a.tt-service-title.c-h4 Customer Support
              .simple-text.size-3
                %p Thought leadership iterative seed money lean content proprietary. Snackable quiet period.
.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
