/ TT-PARTNER
.tt-title
  .tt-title-cat Clientes satisfechos
  %h2.c-h2
    %small Empresas que confian en nosotros
.empty-space.marg-lg-b35.marg-sm-b30

.swiper-container{ "data-add-slides" => "5", "data-autoplay" => "5000", "data-center" => "0", "data-lg-slides" => "4", "data-loop" => "0", "data-md-slides" => "3", "data-slides-per-view" => "responsive", "data-sm-slides" => "3", "data-speed" => "500", "data-xs-slides" => "2" }
  .swiper-wrapper.clearfix
    .swiper-slide.active{ "data-val" => "0" }
      %a.tt-partner{ :href => "index.html#" }
        %img.img-responsive{ :alt => "", :src => "assets/partners/partner_1.png" }/
    .swiper-slide{ "data-val" => "1" }
      %a.tt-partner{ :href => "index.html#" }
        %img.img-responsive{ :alt => "", :src => "assets/partners/partner_2.png" }/
    .swiper-slide{ "data-val" => "2" }
      %a.tt-partner{ :href => "index.html#" }
        %img.img-responsive{ :alt => "", :src => "assets/partners/partner_3.png" }/
    .swiper-slide{ "data-val" => "3" }
      %a.tt-partner{ :href => "index.html#" }
        %img.img-responsive{ :alt => "", :src => "assets/partners/partner_4.png" }/
    .swiper-slide{ "data-val" => "4" }
      %a.tt-partner{ :href => "index.html#" }
        %img.img-responsive{ :alt => "", :src => "assets/partners/partner_5.png" }/
    .swiper-slide{ "data-val" => "5" }
      %a.tt-partner{ :href => "index.html#" }
        %img.img-responsive{ :alt => "", :src => "assets/partners/partner_1.png" }/
  .pagination.type-1.visible-xs-block
.empty-space.marg-lg-b100.marg-sm-b50.marg-xs-b30
