.empty-space.marg-lg-b100.marg-sm-b50.marg-xs-b30
.tt-devider
.empty-space.marg-lg-b100.marg-sm-b50.marg-xs-b30
.container
  / TT-TITLE
  -# = render 'blogpost'
  -# .empty-space.marg-lg-b100.marg-sm-b50.marg-xs-b30
  / TT-PARTNER
  = render 'partners'
