.tt-devider
.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
.container
  / TT-TITLE
  .tt-title
    .tt-title-cat Precios
    %h2.c-h2
      %small Muy simple
  .empty-space.marg-lg-b40.marg-sm-b30
  / TT-PRICING
  .row
    .col-sm-4
      -# .tt-pricing
      -#   %h4.tt-pricing-title Business Plan
      -#   .tt-pricing-count
      -#     %span.tt-pricing-top> $
      -#     10
      -#     %span mo
      -#   %ul.tt-pricing-list
      -#     %li.active Unlimited marketing & growth hacks
      -#     %li Advanced Email list building techniques
      -#     %li Invitation to Secret group
      -# .empty-space.marg-xs-b30
    .col-sm-4
      .tt-pricing
        %h4.tt-pricing-title Business Plan
        .tt-pricing-count
          %span.tt-pricing-top> $
          29
          %span mo
        %ul.tt-pricing-list
          %li.active Unlimited marketing & growth hacks
          %li.active Advanced Email list building techniques
          %li Invitation to Secret group
      .empty-space.marg-xs-b30
    .col-sm-4
      -# .tt-pricing
      -#   %h4.tt-pricing-title Business Plan
      -#   .tt-pricing-count
      -#     %span.tt-pricing-top> $
      -#     79
      -#     %span mo
      -#   %ul.tt-pricing-list
      -#     %li.active Unlimited marketing & growth hacks
      -#     %li.active Advanced Email list building techniques
      -#     %li.active Invitation to Secret group
  .empty-space.marg-lg-b40.marg-sm-b30
  .text-center
    %a.c-btn.type-1.size-2{ :href => "index.html#" } Haz la prueba
.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
