.tt-devider
#voltaire-pricing.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
.container
  / TT-TITLE
  .tt-title
    -# .tt-title-cat Precios
    %h2.c-h2
      %small Precios
  .empty-space.marg-lg-b40.marg-sm-b30
  / TT-PRICING
  .row
    .col-sm-4
      -# .tt-pricing
      -#   %h4.tt-pricing-title Business Plan
      -#   .tt-pricing-count
      -#     %span.tt-pricing-top> $
      -#     10
      -#     %span mo
      -#   %ul.tt-pricing-list
      -#     %li.active Unlimited marketing & growth hacks
      -#     %li Advanced Email list building techniques
      -#     %li Invitation to Secret group
      -# .empty-space.marg-xs-b30
    .col-sm-4
      .tt-pricing
        %h4.tt-pricing-title Por palabra
        .tt-pricing-count
          %span.tt-pricing-top> $
          99
          %span centavos
        %ul.tt-pricing-list
          %li.active Cualquier categoría
          %li.active Cambios ilimitados
      .empty-space.marg-xs-b30
    .col-sm-4
      -# .tt-pricing
      -#   %h4.tt-pricing-title Business Plan
      -#   .tt-pricing-count
      -#     %span.tt-pricing-top> $
      -#     79
      -#     %span mo
      -#   %ul.tt-pricing-list
      -#     %li.active Unlimited marketing & growth hacks
      -#     %li.active Advanced Email list building techniques
      -#     %li.active Invitation to Secret group
  .empty-space.marg-lg-b40.marg-sm-b30
  .text-center
    %a.c-btn.type-1.size-2{ :href => "index.html#" } Haz la prueba
    %br
    %br
    %span
      %small Hasta 150 palabras
    .empty-space.marg-lg-b40.marg-sm-b30
    %span
      Todos nuestros servicios incluyen garantía de devolución total de tu dinero en caso de no satisfacer tus necesidades.
.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
