.container
  .empty-space.marg-lg-b95.marg-sm-b50
  .row
    .col-sm-10.col-sm-offset-1
      / TT-TITLE
      .tt-title
        .tt-title-cat Contenido a tu medida
        -# %h2.c-h2
        -#   %small ¿Que es GoVoltaire?
      .empty-space.marg-lg-b40.marg-sm-b30
      / TT-TAB-WRAPPER TYPE-1
      .tt-tab-wrapper.type-1
        -# = render 'shared/tab_wrapper_nav'
        .tt-tabs-content.clearfix.mbottom50
          .tt-tab-info.active
            .row
              .col-md-5
                .simple-text.size-3
                  %h3
                    %small ¿Que es GoVoltaire?
                  %p GoVoltaire te ayuda creando tu contenido profesional, conectamos tu propuesta con nuestros copywriters aprobados y recomendados por nuestros clientes.
                  %p No estás contratando un copywriter o analista creativo de tiempo completo,  estás contratando un servicio profesional de generación de contenido on-demand ¡sólo pagas por lo que usas cuando lo quieres!
                .empty-space.marg-sm-b30
              .col-md-7
                = image_tag "simple-image/img_1.png", height: "333", width: "605", class: "img-responsive"

  .empty-space.marg-lg-b40.marg-sm-b30
  .text-center
    %a.c-btn.type-1.size-2{ :href => "index.html#" } Prueba Copify haciendo tu primera orden ¡Gratis!
    %br
    %br
    %span
      %small Maximo 150 palabras
  .empty-space.marg-lg-b110.marg-sm-b50
