.container
  .empty-space.marg-lg-b95.marg-sm-b50
  .row
    .col-sm-10.col-sm-offset-1
      / TT-TITLE
      .tt-title
        .tt-title-cat seo made easy
        %h2.c-h2
          %small Simplify your Business
      .empty-space.marg-lg-b40.marg-sm-b30
      / TT-TAB-WRAPPER TYPE-1
      .tt-tab-wrapper.type-1
        .tt-tab-nav-wrapper
          .tt-tab-select
            .select-arrow
              %i.fa.fa-angle-down
            %select
              %option{ :selected => "selected" } Analytics
              %option Add On
              %option Infographics
              %option Marketing Tools
              %option Copywriting
          .tt-nav-tab.mbottom50
            .tt-nav-tab-item.active
              %span.lnr.lnr-chart-bars
              %span.tt-analitics-text Analytics
            .tt-nav-tab-item
              %span.lnr.lnr-hand
              %span.tt-analitics-text Add On
            .tt-nav-tab-item
              %span.lnr.lnr-pie-chart
              %span.tt-analitics-text Infographics
            .tt-nav-tab-item
              %span.lnr.lnr-laptop-phone
              %span.tt-analitics-text Marketing Tools
            .tt-nav-tab-item
              %span.lnr.lnr-pencil
              %span.tt-analitics-text Marketing Tools
        .tt-tabs-content.clearfix.mbottom50
          .tt-tab-info.active
            .row
              .col-md-5
                .simple-text.size-3
                  %h3
                    %small Inbound Marketing Formula
                  %p Content curation market share customer engagement buzz flat design vertical-specific. Thought leadership iterative seed money lean content proprietary.
                  %ul
                    %li Content curation market share customer.
                    %li Engagement buzz flat design vertical-specific.
                    %li Platform omnichannel click bait thought.
                    %li Disrupt taste makers council conversions.
                    %li Insight on your business on any period of time.
                .empty-space.marg-sm-b30
              .col-md-7
                %img.img-responsive{ :alt => "", :height => "333", :src => "assets/simple-image/img_1.png", :width => "605" }/
          .tt-tab-info
            .row
              .col-md-7
                %img.img-responsive{ :alt => "", :height => "333", :src => "assets/simple-image/img_1.png", :width => "605" }/
                .empty-space.marg-sm-b30
              .col-md-5
                .simple-text.size-3
                  %h3
                    %small Inbound Marketing Formula
                  %p Content curation market share customer engagement buzz flat design vertical-specific. Thought leadership iterative seed money lean content proprietary.
                  %ul
                    %li Content curation market share customer.
                    %li Engagement buzz flat design vertical-specific.
                    %li Platform omnichannel click bait thought.
                    %li Disrupt taste makers council conversions.
                    %li Insight on your business on any period of time.
          .tt-tab-info
            .row
              .col-md-5
                .simple-text.size-3
                  %h3
                    %small Inbound Marketing Formula
                  %p Content curation market share customer engagement buzz flat design vertical-specific. Thought leadership iterative seed money lean content proprietary.
                  %ul
                    %li Content curation market share customer.
                    %li Engagement buzz flat design vertical-specific.
                    %li Platform omnichannel click bait thought.
                    %li Disrupt taste makers council conversions.
                    %li Insight on your business on any period of time.
                .empty-space.marg-sm-b30
              .col-md-7
                %img.img-responsive{ :alt => "", :height => "333", :src => "assets/simple-image/img_1.png", :width => "605" }/
          .tt-tab-info
            .row
              .col-md-7
                %img.img-responsive{ :alt => "", :height => "333", :src => "assets/simple-image/img_1.png", :width => "605" }/
                .empty-space.marg-sm-b30
              .col-md-5
                .simple-text.size-3
                  %h3
                    %small Inbound Marketing Formula
                  %p Content curation market share customer engagement buzz flat design vertical-specific. Thought leadership iterative seed money lean content proprietary.
                  %ul
                    %li Content curation market share customer.
                    %li Engagement buzz flat design vertical-specific.
                    %li Platform omnichannel click bait thought.
                    %li Disrupt taste makers council conversions.
                    %li Insight on your business on any period of time.
          .tt-tab-info
            .row
              .col-md-5
                .simple-text.size-3
                  %h3
                    %small Inbound Marketing Formula
                  %p Content curation market share customer engagement buzz flat design vertical-specific. Thought leadership iterative seed money lean content proprietary.
                  %ul
                    %li Content curation market share customer.
                    %li Engagement buzz flat design vertical-specific.
                    %li Platform omnichannel click bait thought.
                    %li Disrupt taste makers council conversions.
                    %li Insight on your business on any period of time.
                .empty-space.marg-sm-b30
              .col-md-7
                %img.img-responsive{ :alt => "", :height => "333", :src => "assets/simple-image/img_1.png", :width => "605" }/
  .empty-space.marg-lg-b110.marg-sm-b50
