.tt-devider
.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
.container
  / TT-TITLE
  .tt-title
    .tt-title-cat lovely customers
    %h2.c-h2
      %small Don’t Take Our Word for It
  .empty-space.marg-lg-b35.marg-sm-b30
  / TT-TESTIMONIAL
  .row
    .col-md-10.col-md-offset-1
      .swiper-container{ "data-add-slides" => "2", "data-autoplay" => "0", "data-center" => "0", "data-loop" => "1", "data-slides-per-view" => "1", "data-speed" => "500" }
        .swiper-wrapper.clearfix
          .swiper-slide.active{ "data-val" => "0" }
            .tt-testimonial.clearfix
              .tt-testimonial-icon
                %img{ :alt => "", :height => "100", :src => "assets/testimonial/user.png", :width => "100" }/
              .tt-testimonial-info
                .simple-text
                  %p Marketly is made with care for every pixels. We have provided all the different layouts and made it completely goal driven. Portfolio, business, app, ecommerce demos for all the niches are created with the help of industry specialists. Simply put - Marketly is best theme out there.
                .tt-testimonial-label
                  \-
                  = succeed "," do
                    %a.tt-testimonial-name{ :href => "index.html#" } Joe Martin
                  %a{ :href => "index.html#" } Optinmizely.com
          .swiper-slide{ "data-val" => "1" }
            .tt-testimonial.clearfix
              .tt-testimonial-icon
                %img{ :alt => "", :height => "100", :src => "assets/testimonial/user.png", :width => "100" }/
              .tt-testimonial-info
                .simple-text
                  %p Marketly is made with care for every pixels. We have provided all the different layouts and made it completely goal driven. Portfolio, business, app, ecommerce demos for all the niches are created with the help of industry specialists. Simply put - Marketly is best theme out there.
                .tt-testimonial-label
                  \-
                  = succeed "," do
                    %a.tt-testimonial-name{ :href => "index.html#" } Joe Martin
                  %a{ :href => "index.html#" } Optinmizely.com
        .pagination.type-1.visible-xs-block
        .tt-swiper-arrow-center
          .swiper-arrow-left.tt-arrow-left.type-2.pos-2.hidden-xs
            %span.lnr.lnr-chevron-left
          .swiper-arrow-right.tt-arrow-right.type-2.pos-2.hidden-xs
            %span.lnr.lnr-chevron-right

.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
