.tt-devider
.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
.container
  / TT-TITLE
  .tt-title
    .tt-title-cat Nuestros queridos clientes
    %h2.c-h2
      %small Personas que creen en nosotros.
  .empty-space.marg-lg-b35.marg-sm-b30
  / TT-TESTIMONIAL
  .row
    .col-md-10.col-md-offset-1
      .swiper-container{ "data-add-slides" => "2", "data-autoplay" => "0", "data-center" => "0", "data-loop" => "1", "data-slides-per-view" => "1", "data-speed" => "500" }
        .swiper-wrapper.clearfix
          .swiper-slide.active{ "data-val" => "0" }
            .tt-testimonial.clearfix
              .tt-testimonial-icon
                = image_tag "testimonial/client1.jpg", height: "100", width: "100"
              .tt-testimonial-info
                .simple-text
                  %p GoVoltaire es una herramienta que nos ayudo a formar un papel mas activo con nuestras redes sociales, al mostrarles un contenido de calidad y con mucha atencion al detalle.
                .tt-testimonial-label
                  \-
                  = succeed "," do
                    %a.tt-testimonial-name{ :href => "http://elh.mx/" } Heriberto Perez
                  %a{ :href => "https://www.pacientesweb.com" } Pacientesweb.com
          .swiper-slide{ "data-val" => "1" }
            .tt-testimonial.clearfix
              .tt-testimonial-icon
                = image_tag "testimonial/client2.jpg", height: "100", width: "100"
              .tt-testimonial-info
                .simple-text
                  %p Gracias a GoVoltaire logramos posicionarnos justo donde queriamos, un servicio muy recomendable.
                .tt-testimonial-label
                  \-
                  = succeed "," do
                    %a.tt-testimonial-name{ :href => "index.html#" } Jordan Lopez
                  %a{ :href => "index.html#" } paqkit.com
        .pagination.type-1.visible-xs-block
        .tt-swiper-arrow-center
          .swiper-arrow-left.tt-arrow-left.type-2.pos-2.hidden-xs
            %span.lnr.lnr-chevron-left
          .swiper-arrow-right.tt-arrow-right.type-2.pos-2.hidden-xs
            %span.lnr.lnr-chevron-right

.empty-space.marg-lg-b95.marg-sm-b50.marg-xs-b30
