%header.tt-header
  .container
    .top-inner.clearfix
      .top-inner-container
        = link_to image_tag('header/logo2.png', width: "51", height: "38"), root_url, class: 'logo'
        %button.cmn-toggle-switch
          %span
    .toggle-block
      .toggle-block-container
        %nav.main-nav.clearfix
          %ul
            %li.parent.active
              = link_to "Inicio", root_url
            %li.parent
              %a{ :href => "cases_filter.html" }
                Productos
                %i.menu-toggle.fa.fa-angle-down
              %ul
                %li
                  %a{ :href => "cases_filter.html" } Cases Filter
                %li
                  %a{ :href => "cases_grid.html" } Cases Grid
                %li
                  %a{ :href => "masonry.html" } Masonry
                %li
                  %a{ :href => "masonry_sidebar.html" } Masonry Sidebar
                %li
                  %a{ :href => "single.html" } Single Page
                %li
                  %a{ :href => "subscriber.html" } Subscriber
            %li.parent
              %a{ :href => "index.html#" }
                Precios
            %li
              = link_to 'FAQ', faqs_path
            -# %li.parent
            -#   %a{ :href => "blog_list.html" } Blog
            -#   %ul
            -#     %li
            -#       %a{ :href => "blog_list.html" } Blog List
            -#     %li
            -#       %a{ :href => "blog_list_sidebar.html" } Blog List Sidebar
            -#     %li
            -#       %a{ :href => "blog.html" } Blog Detail
            %li
              = link_to 'Garantia', guarantee_index_url
            %li
              %a{ :href => "contact.html" } Mi cuenta
        .nav-more
          %a.c-btn.type-2{ :href => "index.html#" }
            %span Crea una cuenta.
